
#FE
./fe/node_modules
./fe/.pnp
./fe/.pnp.js

./fe/coverage
./fe/build

./fe/.DS_Store
./fe/.env.local
./fe/.env.development.local
./fe/.env.test.local
./fe/.env.production.local

./fe/npm-debug.log*
./fe/yarn-debug.log*
./fe/yarn-error.log*

#BE
./be/HELP.md
./be/target/
!./be/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

./be/.apt_generated
./be/.classpath
./be/.factorypath
./be/.project
./be/.settings
./be/.springBeans
./be/.sts4-cache

./be/.idea
./be/*.iws
./be/*.iml
./be/*.ipr

